<html>
    <head>
        <title> title </title>
        <link rel="stylesheet" href="../semantic.css">

        <script src="../script.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="../semantic.js"></script>
    </head>

    <body>
        <!--button onclick='on_button_click()'>asd</button-->
        <div id='div_title' style='width: 100%; height: 100px;text-align: center'>
            <font>title</font>
        </div>
        <div id='div_contents' style='width: 100%; height: 88%; text-align:center; margin:auto;'>
            <div id='div_filter' style='width: 30%; height: 100%; float: left'>
                <p>
                    <select class="ui fluid search dropdown" multiple="">
                        <!-- option value="">State</option -->
                        <option value="AL">보호수</option>
                        <option value="AK">문화재</option>
                        <option value="AZ">화재</option>
                    </select>
                </p>
                <button onclick="on_button_click()"> button </button>
            </div>
            <div id='div_map' style='width: 69%; height: 100%; float: right'></div>
        </div>
    </body>
</html>